---
import Layout from '@layouts/Layout.astro';
import { render } from 'astro:content';
import { getCollection } from 'astro:content';
import { formatDate } from '../../utils/date_format'
import { getEntry } from 'astro:content';
import { getEntries } from 'astro:content';

export async function getStaticPaths() {
    const filmsEntries = await getCollection('films')
    return filmsEntries.map(entry => ({
        params: { slug: entry.id },
        props: { entry }
    }))
}

const { entry } = Astro.props
const { Content } = await render(entry)

const realisateur = entry.data.realisateur && (await getEntry(entry.data.realisateur))
const scenaristes = entry.data.scenaristes && (await getEntries(entry.data.scenaristes))


---

<Layout pageTitle={entry.data.titre}>
    <h1>Titre : {entry.data.titre}</h1>
    <p>Date de sortie : {formatDate(entry.data.date_sortie)}</p>
    <p>Langue : {entry.data.langue}</p>
    <p>Durée : {entry.data.duree} minutes</p>
    {realisateur && <p>Réalisateur : {realisateur.data.nom}</p>}
    {scenaristes && <p>Scénariste : {scenaristes.map(s => s.data.nom)}</p>}

    <div class="prose">
        <Content />
    </div>
</Layout>